<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="server-url" content="__SERVER_URL__" />
    <title>Home</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
  </head>
  <style>
    button.navbar-toggler.ml-auto.hidden-sm-up.float-xs-right:focus {
      outline: none !important;
    }
  </style>

  <body class="min-vh-100 max-vw-100 bg-dark">
    <!-- <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid ">
        
          <a href="/home" class="text-decoration-none text-danger fs-2"></a>
            <img
              src="./assets/logo.png"
              alt=""
width="55px"            /> </a
        >
        <div class="ms-lg-auto ">
          <span class="w-70 me-0"><a href="/hoster">Become a hoster</a></span>
          <span class="w-70 me-0"><a href="/mybookings">my booking's</a></span>
          <a href="/logout" class="">Logout</a>
        </div>
      </div>
    </nav> -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand p-0" href="/home">
          <img
            src="https://i.pinimg.com/originals/1f/06/86/1f068632bb0b0bc410d18c815c583cdc.png"
            alt=""
            width="60px"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/home"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/hoster">Become a hoster</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/mybookings">my booking's</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/logout">logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- posts section -->
    <section class="section overflow-hidden bg-dark">
      <div class="parent-post-container row justify-content-center gap-3 px-4">
        <!-- post-1 -->
      </div>
    </section>
    <script>
      console.log("working");
      console.log("hello");
      const serverUrl = document
        .querySelector('meta[name="server-url"]')
        .getAttribute("content");
      console.log(serverUrl);
      async function fetchpropertydata() {
        try {
          // fetch data here
          const fetchs = await fetch(`${serverUrl}/fetchproperties`);

          // convert data to json
          const data = await fetchs.json();
          console.log(data.length);
          // create cards here
          for (let i = 0; i < data.length; i++) {
            console.log(i);
            // console.log(data[i].roomImage[1])
            console.log(data[i]);

            const Maincard = document.createElement("div");
            Maincard.classList.add(
              "cards",
              "bg-light",
              "col-sm-12",
              "col-md-6",
              "col-lg-3",
              "my-3",
              "px-0",
              "rounded-2",
              "overflow-hidden"
            );
            const card = `<a href="/property?id=${data[i]?.propertyId}" ; class="text-decoration-none text-black p-0"><div class="img d-flex bg-secondary">
                <img class="card-img-top w-75 mx-auto" style="height:22rem;"; src="${data[i]?.roomImage[0]}" alt="Card image cap">
            </div>
            <div class="cards-detail  rounded-3 my-2">
                <div class="card-heading d-flex justify-content-between px-2">
                    <h5 class="card-title">${data[i]?.propertyName}</h5>
                </div>
                <p class="card-text px-2">${data[i].address?.city}, ${data[i].address?.country}</p>
                <div class="border-top border-secondary py-1 px-2 text-end">
                  <p class="card-text"><strong class="fs-5">₹${data[i]?.price}</strong>/night</p>
                  </div>
            </div></a>`;
            Maincard.innerHTML = card;
            const wrap = document.querySelector(".parent-post-container");
            // append card
            wrap.append(Maincard);
          }
        } catch (err) {
          // err
          console.log(err);
        }
      }
      fetchpropertydata();
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
