<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="server-url" content="__SERVER_URL__" />

    <title>house</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
  </head>
  <!-- Basic style -->
  <style>
    /* .img-container {
        margin: 20px auto;
        position: relative;
    } */

    /* .btn-container {
        position: absolute;
        text-align: center;
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        top: 42%;
        width: 100%;
    } */

    /* .img-container>img {
        height: 400px;
        width: 100%;
        display: block;
        margin: auto;
        padding-bottom: 20px;
    } */
    #images > div > img {
      height: 450px !important;
      object-fit: cover;
    }

    .btn-container > button {
      outline: none;
      width: 40px;
      height: 40px;
      border: none;
      background-color: rgb(25, 121, 211);
      border-radius: 50%;
      color: white;
      cursor: pointer;
    }

    .btn-container > button:last-child {
      margin: 0 50px 0 0;
    }
  </style>

  <body>
    <section>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand p-0" href="/home">
            <img
              src="https://i.pinimg.com/originals/1f/06/86/1f068632bb0b0bc410d18c815c583cdc.png"
              alt=""
              width="60px"
            />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/home"
                  >Home</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/hoster">Become a hoster</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/mybookings">my booking's</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/logout">logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="p-2 container-fluid bg-dark">
        <!-- post component -->
        <div style="" class="m-auto px-3 rounded-2 bg-light">
          <!-- post title -->
          <div class="row align-items-center">
            <div class="col p-2">
              <h3 class="propertyName"></h3>
            </div>
            <div class="col-5 d-flex justify-content-end">
              <h6>price: <span class="price"></span></h6>
            </div>
          </div>
          <!-- place -->
          <h3><span class="city"></span> <span class="country"></span></h3>
          <!-- imgs -->
          <div
            id="carouselExampleControls"
            class="carousel slide col-12 col-md-6 my-3"
            data-bs-ride="carousel"
          >
            <div class="carousel-inner" id="images"></div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleControls"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleControls"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <!--  tumbmail -->
          <h2 class="my-4 mainTitle"></h2>
          <div class="pe-5">
            <!-- detailed description -->
            <p class="me-5 roomDescription"></p>
          </div>
          <!--  guests, bedrooms beds bathrooms -->
          <div class="">
            <!-- guests -->
            <span class="me-2"> <span class="guest"></span>-guests</span>
            <!-- bedrooms -->
            <span> <span class="bedRooms"></span>-bedrooms</span>
            <!-- beds -->
            <span class="mx-2"> <span class="beds"></span>-beds</span>
            <!-- bathrooms -->
            <span><span class="bathRooms"></span>-bathrooms</span>
          </div>
          <!-- ratings -->
          <div class="my-3 fs-3">Rating: <span id="rating"></span>/5</div>

          <!-- Amenities -->
          <h4>Amenities</h4>
          <div class="d-flex gap-3">
            <!-- outdoor -->
            <ul class="list-group" id="outdoor">
              <li
                class="list-group-item bg-dark text-light fw-bold"
                aria-current="true"
              >
                Outdoor
              </li>
              <!-- <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                        <li class="list-group-item">A fourth item</li>
                        <li class="list-group-item">And a fifth one</li> -->
            </ul>
            <!-- indoor -->
            <ul class="list-group" id="indoor">
              <li
                class="list-group-item bg-dark text-light fw-bold"
                aria-current="true"
              >
                Indoor
              </li>
              <!-- <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                        <li class="list-group-item">A fourth item</li>
                        <li class="list-group-item">And a fifth one</li> -->
            </ul>
            <!-- Essentials -->
            <ul class="list-group" id="essentials">
              <li
                class="list-group-item bg-dark text-light fw-bold"
                aria-current="true"
              >
                Essentials
              </li>
              <!-- <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                        <li class="list-group-item">A fourth item</li>
                        <li class="list-group-item">And a fifth one</li> -->
            </ul>
          </div>

          <!-- hoster details -->
          <div
            style="height: 45px; width: min(350px, 100%)"
            class="d-flex align-items-center border border-dark rounded-2 mt-3 overflow-hidden"
          >
            <!-- user image -->
            <!-- <span></span> -->
            <!-- user name -->
            <div
              class="col-4 bg-dark h-100 text-light d-flex justify-content-center align-items-center fs-5"
            >
              Owner
            </div>
            <div class="col ownerName fs-5 ps-1"></div>
          </div>
          <!-- booking form -->
          <div
            class="overflow-hidden col-lg-5 col-md-12 my-3 border border-dark rounded"
          >
            <!-- alert here -->
            <div class="col-12 text-light px-2 bg-dark">
              <p class="fs-5 fa-bold py-2">Check out now!</p>
            </div>
            <form
              class="mt-2 px-2"
              method="post"
              action="/property/bookingconf"
            >
              <div class="row">
                <!-- guest name -->
                <div class="col-lg-12 col-md-12">
                  <label for="guestName" class="form-label">GuestName</label>
                  <input
                    type="text"
                    class="form-control"
                    id="guestName"
                    name="GuestName"
                    required
                  />
                </div>
                <!-- check in -->
                <div class="col-6">
                  <label for="checkIn" class="form-label">Check in</label>
                  <input
                    type="date"
                    class="form-control"
                    id="checkIn"
                    name="CheckIn"
                    required
                  />
                </div>
                <!-- check out -->
                <div class="col-6">
                  <label for="checkOut" class="form-label">Check out</label>
                  <input
                    type="date"
                    class="form-control"
                    id="checkOut"
                    name="CheckOut"
                    required
                  />
                </div>
              </div>
              <!-- Nop -->
              <div class="col-12 mt-3">
                <label for="nop" class="form-label">No of person</label>
                <input
                  type="number"
                  class="form-control"
                  id="nop"
                  name="Nop"
                  required
                />
              </div>
              <!-- no of nights -->
              <div class="col-lg-4 col-md-12 mt-3">
                <label for="non" class="form-label">No of nights</label>
                <input
                  type="number"
                  class="form-control"
                  id="non"
                  name="Non"
                  required
                />
              </div>
              <!-- payment option -->
              <div class="col-lg-12 col-md-12 mt-3">
                <label for="payment" class="form-label">Payment option</label>
                <select
                  class="form-select"
                  id="payment"
                  name="Payment"
                  required
                >
                  <option>Pay at property</option>
                  <option>Online payment</option>
                </select>
              </div>
              <!-- submit -->
              <div class="col-12 my-3">
                <button class="btn btn-primary submitBtn" type="submit">
                  Submit form
                </button>
              </div>
            </form>
          </div>
          <div class="container px-2 py-4" id="reviewcontainer">
            <h3>feedback&reviews</h3>
            <!-- <div class="container p-2 border border-3 border-dark w-50 ms-0 my-4"> -->

            <!-- </div>   -->
          </div>
        </div>
      </div>
    </section>
    <!-- Javascript code for  -->
    <script>
      // all elemenet to add value
      const propertyName = document.querySelector(".propertyName");
      const mainTitle = document.querySelector(".mainTitle");
      const ownerName = document.querySelector(".ownerName");
      const city = document.querySelector(".city");
      const state = document.querySelector(".state");
      const country = document.querySelector(".country");
      const price = document.querySelector(".price");
      const size = document.querySelector(".size");
      const guest = document.querySelector(".guest");
      const beds = document.querySelector(".beds");
      const bedRooms = document.querySelector(".bedRooms");
      const bathRooms = document.querySelector(".bathRooms");
      const roomDescription = document.querySelector(".roomDescription");
      const indoor = document.getElementById("indoor");
      const outdoor = document.getElementById("outdoor");
      const essentials = document.getElementById("essentials");
      const images = document.getElementById("images");
      const rating = document.getElementById("rating");

      //review container
      const reviewContainer = document.getElementById("reviewcontainer");
      async function fetchpropertydata() {
        const serverUrl = document
          .querySelector('meta[name="server-url"]')
          .getAttribute("content");
        try {
          // fetch data here
          const fetchs = await fetch(`${serverUrl}/fetchproperty`);
          const reviewFetch = await fetch(`${serverUrl}/fetchreivewproduct`);
          // convert  json to data
          const data = await fetchs.json();
          const reviewData = await reviewFetch.json();
          // fetching all product deatils
          propertyName.innerHTML = data.propertyName;
          mainTitle.innerHTML = data.mainTitle;
          ownerName.innerHTML = data.owner;
          price.innerHTML = `₹${data.price}`;
          roomDescription.innerHTML = data.roomDescription;
          guest.innerHTML = data.total.Allowedpeople;
          beds.innerHTML = data.total.Beds;
          bedRooms.innerHTML = data.total.Bedrooms;
          bathRooms.innerHTML = data.total.Bathrooms;
          // console.log(reviewData);
          console.log(data.roomImage[0]);
          // console.log(data.roomImage);
          const realrating = () => {
            if (!reviewData.length) return "no reviwe yet";
            let total_user_rated = reviewData.length;
            let total_rating = reviewData[total_user_rated - 1].totalrating;
            let sum_of_max_rating_of_user_count = total_user_rated * 5;
            return (total_rating * 5) / sum_of_max_rating_of_user_count;
          };
          console.log(realrating());
          rating.innerText = realrating();
          // img fetching section
          console.log(images);
          for (let i = 0; i < data.roomImage.length; i++) {
            const carousel_item = document.createElement("div");
            carousel_item.classList.add("carousel-item", "active");
            const newImg = document.createElement("img");
            newImg.src = `/views/assets/${data.roomImage[i]}`;
            newImg.alt = "post";
            newImg.classList.add("d-block", "w-100");
            carousel_item.appendChild(newImg);
            images.appendChild(carousel_item);
          }

          //fecthing amenitels

          //indoor
          for (let i = 0; i < data.amenities.indoor.length; i++) {
            const li = document.createElement("li");
            li.classList.add("list-group-item");
            li.innerHTML = `${data.amenities.indoor[i]}`;
            indoor.appendChild(li);
          }
          //outdoor
          for (let i = 0; i < data.amenities.outdoor.length; i++) {
            const li = document.createElement("li");
            li.classList.add("list-group-item");
            li.innerHTML = `${data.amenities.outdoor[i]}`;
            outdoor.appendChild(li);
            console.log(li);
          }
          //essentials
          for (let i = 0; i < data.amenities.essentials.length; i++) {
            const li = document.createElement("li");
            li.classList.add("list-group-item");
            li.innerHTML = `${data.amenities.essentials[i]}`;
            essentials.appendChild(li);
          }

          if (reviewData.length == 0) {
            const div = document.createElement("div");
            div.classList.add("d-flex", "justify-content-center");
            div.innerHTML = `<h4>No commits yet</h4>`;
            reviewContainer.appendChild(div);
          }

          // review container
          for (let i = 0; i < reviewData.length; i++) {
            const div = document.createElement("div");
            const updatedTime = new Date(reviewData[i].updated);
            div.style = `width:min(400px,100%)`;
            div.classList.add(
              "container",
              "p-2",
              "border",
              "rounded-2",
              "border-dark",
              "ms-0",
              "mt-4"
            );
            div.innerHTML = `
                    <p class="mb-0">
                           UserName: <b>
                               <span>${reviewData[i].userName}</span>

                           </b>
                       </p>
                       <p class="mb-0">
                        description: <span>${reviewData[i].Description}</span>
                       </p>
                       <p class="mb-0">
                        posted on: <span>${
                          updatedTime.getDate() > 10
                            ? updatedTime.getDate()
                            : `0${updatedTime.getDate()}`
                        }-${
              updatedTime.getMonth() + 1
            }-${updatedTime.getFullYear()}</span>
                       </p>
                    `;
            reviewContainer.appendChild(div);
          }
        } catch (err) {
          // err
          console.log(err, "sladklksdfajdsklfjsdfkl");
        }
      }
      fetchpropertydata();
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
